// COLORS
$color-primary: hsl(49, 100%, 58%);
$color-secondary: hsl(0, 0%, 95%);

$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);

// FONTS
$font-primary: "Questrial", sans-serif;
$font-secondary: "David Libre", serif;
