.root {
  height: 100vh;
  width: 100vw;
  background-color: $color-secondary;
  background-image: linear-gradient(
    120deg,
    $color-white,
    $color-white 50%,
    $color-primary 50%,
    $color-primary
  );

  padding: 0 5rem;
  display: flex;
  flex-direction: column;
  align-content: center;
}
.nav {
  padding: 5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  position: relative;
  height: 10vh;
}

.content {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__joke-box {
    width: 40vw;
    height: 45vh;
    overflow: hidden;

    display: flex;
    flex-direction: column;

    box-shadow: 0 0.8em 1.5em rgba(51, 51, 51, 0.6),
      0 0.5em 2em rgba(51, 51, 51, 0.6);
    border-radius: 0.5em;

    // background-color: $color-black;
    // width: 50vw;
    // height: 50vh;
    // text-align: center;

    // box-shadow: 0.5rem 0.5rem 0.5rem rgba($color-black, 0.5);

    // &__cursor {
    //   font-size: 3rem;
    // }
  }
  &__bar {
    padding: 0.5em;
    flex: 0 0 auto;
    display: flex;
    background: linear-gradient(to bottom, #eaeaea, #d2d2d2);
    border-bottom: 1px solid #7d7d7d;
    color: #4c4c4c;

    .title {
      margin: 0;
      display: inline-block;
      flex: 1 1 auto;
      line-height: 1;
      font-family: "Helvetica Neue", "Helvetica", "Lucida Grande", "Lucida",
        "Arial";
      text-align: center;
    }
    .buttons {
      display: inline-block;
      flex: 0 0 auto;
      display: flex;

      .button {
        margin: 0 0.5em 0 0;
        height: 1em;
        width: 1em;
        display: inline-block;
        border-radius: 50%;
        box-shadow: inset 0 0 0.1em rgba(51, 51, 51, 0.4);

        &:nth-child(1) {
          position: relative;
          background: #fe6058;
        }
        &:nth-child(2) {
          background: #fdbd34;
        }
        &:nth-child(3) {
          background: #23c944;
        }
      }
    }
  }
}
